<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mysql" providerName="WEF.Standard.MySQL,MySqlProvider" connectionString="server=localhost;user id=root; password=yswenli; Port=3306;database=emrisk;Pooling=True;MinimumPoolSize=100;maximumpoolsize=10000;" />
	<add name="sqlserver" providerName="WEF.Standard.MSSQL,SqlServerProvider" connectionString="Data Source=localhost;Initial Catalog=testuser;User Id=testuser;Password=testuser" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
