<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>        
    <add name="connectionString2" providerName="System.Data.SqlClient" connectionString="Data Source=WENLI-PC\SQLSERVER2016;Initial Catalog=Im.MarketingSDK.Manager;User Id=sdkuser;Password=ckhYcsi6qG$n61d" />
    <add name="default" connectionString="Data Source=WENLI-PC\MSSQLSERVER2008;Initial Catalog=DB_WebBaseFrame;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DBConnectStr" providerName="WEF.MySql"  connectionString="server=172.31.32.83;user id=EMUser; password=20190415; Port=3306;database=emdb; pooling=false"/>
  </connectionStrings>
</configuration>