
.vs/WEF/v15/.suo
.vs/WEF/v15/Server/sqlite3/db.lock
.vs/WEF/v15/Server/sqlite3/storage.ide
.vs/WEF/v15/Server/sqlite3/storage.ide-shm
.vs/WEF/v15/Server/sqlite3/storage.ide-wal
ModelGenerator/bin/Debug/Config/databaseconfig.xml
ModelGenerator/bin/Debug/Config/dbtype.xml
ModelGenerator/bin/Debug/Config/namespace.txt
ModelGenerator/bin/Debug/Config/sysconfig.xml
ModelGenerator/bin/Debug/CSkin.dll
ModelGenerator/bin/Debug/log/201902.txt
ModelGenerator/bin/Debug/MySql.Data.dll
ModelGenerator/bin/Debug/System.Data.SQLite.dll
ModelGenerator/bin/Debug/System.Data.SQLite.dll.config
ModelGenerator/bin/Debug/System.Data.SQLite.xml
ModelGenerator/bin/Debug/WEF.dll
ModelGenerator/bin/Debug/WEF.dll.config
ModelGenerator/bin/Debug/WEF.ModelGenerator.exe
ModelGenerator/bin/Debug/WEF.ModelGenerator.exe.config
ModelGenerator/bin/Debug/WEF.ModelGenerator.pdb
ModelGenerator/bin/Debug/WEF.pdb
ModelGenerator/bin/Debug/WEF.xml
ModelGenerator/bin/Debug/WeifenLuo.WinFormsUI.Docking.dll
ModelGenerator/bin/Debug/x64/SQLite.Interop.dll
ModelGenerator/bin/Debug/x86/SQLite.Interop.dll
ModelGenerator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ModelGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.BatchForm.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.ContentForm.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.DatabaseSelect.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.DbSelect.DBMsAccess.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.DbSelect.DBMySql.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.DbSelect.DBOracle.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.DbSelect.DbSqlite.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.DbSelect.DBSqlServer.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.LeftPanel.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.LogShow.resources
ModelGenerator/obj/Debug/Em.Entities.Tool.EntityDesign.MainForm.resources
ModelGenerator/obj/Debug/ModelGenerator.csproj.FileListAbsolute.txt
ModelGenerator/obj/Debug/ModelGenerator.csproj.GenerateResource.Cache
ModelGenerator/obj/Debug/ModelGenerator.csprojResolveAssemblyReference.cache
ModelGenerator/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ModelGenerator/obj/Debug/WEF.ModelGenerator.BatchForm.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.ContentForm.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.Controls.AutoTextBox.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.csproj.CopyComplete
ModelGenerator/obj/Debug/WEF.ModelGenerator.csproj.CoreCompileInputs.cache
ModelGenerator/obj/Debug/WEF.ModelGenerator.csproj.FileListAbsolute.txt
ModelGenerator/obj/Debug/WEF.ModelGenerator.csproj.GenerateResource.cache
ModelGenerator/obj/Debug/WEF.ModelGenerator.csprojAssemblyReference.cache
ModelGenerator/obj/Debug/WEF.ModelGenerator.DatabaseSelect.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.DbSelect.DBMsAccess.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.DbSelect.DBMySql.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.DbSelect.DBOracle.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.DbSelect.DbSqlite.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.DbSelect.DBSqlServer.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.exe
ModelGenerator/obj/Debug/WEF.ModelGenerator.Forms.SQLTemplateForm.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.LeftPanel.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.LoadForm.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.LogShow.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.MainForm.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.pdb
ModelGenerator/obj/Debug/WEF.ModelGenerator.Properties.Resources.resources
ModelGenerator/obj/Debug/WEF.ModelGenerator.SQLForm.resources
ModelGenerator/WEF.ModelGenerator.csproj.user
WEF.Test/bin/Debug/MySql.Data.dll
WEF.Test/bin/Debug/System.Data.SQLite.dll
WEF.Test/bin/Debug/System.Data.SQLite.dll.config
WEF.Test/bin/Debug/System.Data.SQLite.xml
WEF.Test/bin/Debug/WEF.dll
WEF.Test/bin/Debug/WEF.dll.config
WEF.Test/bin/Debug/WEF.pdb
WEF.Test/bin/Debug/WEF.Test.exe
WEF.Test/bin/Debug/WEF.Test.exe.config
WEF.Test/bin/Debug/WEF.Test.pdb
WEF.Test/bin/Debug/WEF.Test.vshost.exe
WEF.Test/bin/Debug/WEF.Test.vshost.exe.config
WEF.Test/bin/Debug/WEF.Test.vshost.exe.manifest
WEF.Test/bin/Debug/WEF.xml
WEF.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WEF.Test/obj/Debug/WEF.Test.csproj.CopyComplete
WEF.Test/obj/Debug/WEF.Test.csproj.CoreCompileInputs.cache
WEF.Test/obj/Debug/WEF.Test.csproj.FileListAbsolute.txt
WEF.Test/obj/Debug/WEF.Test.csprojAssemblyReference.cache
WEF.Test/obj/Debug/WEF.Test.exe
WEF.Test/obj/Debug/WEF.Test.pdb
WEF.Test/WEF.Test.csproj.user
WEF/bin/Debug/MySql.Data.dll
WEF/bin/Debug/System.Data.SQLite.dll
WEF/bin/Debug/System.Data.SQLite.dll.config
WEF/bin/Debug/System.Data.SQLite.xml
WEF/bin/Debug/WEF.dll
WEF/bin/Debug/WEF.dll.config
WEF/bin/Debug/WEF.pdb
WEF/bin/Debug/WEF.XML
WEF/bin/Debug/x64/SQLite.Interop.dll
WEF/bin/Debug/x86/SQLite.Interop.dll
WEF/obj/Debug/82bf2694-f35b-4cfd-a8e4-76b5d8695b9c_WEF.pdb
WEF/obj/Debug/8a96032a-f93a-4e49-b318-72d91af2cb61_WEF.pdb
WEF/obj/Debug/92a8652e-0a96-4444-8d56-1abb438f653d_WEF.pdb
WEF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WEF/obj/Debug/WEF.csproj.CopyComplete
WEF/obj/Debug/WEF.csproj.CoreCompileInputs.cache
WEF/obj/Debug/WEF.csproj.FileListAbsolute.txt
WEF/obj/Debug/WEF.csprojAssemblyReference.cache
WEF/obj/Debug/WEF.dll
WEF/obj/Debug/WEF.pdb
WEF/WEF.csproj.user
WEF/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ModelGenerator/obj/Debug/WEF数据库工具.pdb
ModelGenerator/obj/Debug/WEF数据库工具.exe
ModelGenerator/obj/Debug/WEF.ModelGenerator.Forms.AboutForm.resources
ModelGenerator/bin/Debug/WEF数据库工具3.1.0.0.zip
ModelGenerator/bin/Debug/WEF数据库工具.pdb
ModelGenerator/bin/Debug/WEF数据库工具.exe.config
ModelGenerator/bin/Debug/WEF数据库工具.exe
ModelGenerator/bin/Debug/log/201904.txt
