<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.1.0" targetFramework="net45" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net462" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net462" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net462" />
  <package id="K4os.Hash.xxHash" version="1.0.7" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.30" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Npgsql" version="6.0.7" targetFramework="net462" />
  <package id="NPOI" version="2.5.6" targetFramework="net462" />
  <package id="OpenCvSharp4" version="4.6.0.20220608" targetFramework="net462" />
  <package id="OpenCvSharp4.runtime.win" version="4.6.0.20220608" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.19.160" targetFramework="net462" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net462" />
  <package id="Sdcb.PaddleInference" version="2.3.2" targetFramework="net462" />
  <package id="Sdcb.PaddleInference.runtime.win64.mkl" version="2.3.2" targetFramework="net462" />
  <package id="Sdcb.PaddleOCR" version="2.6.0" targetFramework="net462" />
  <package id="Sdcb.PaddleOCR.Models.Online" version="2.5.0" targetFramework="net462" />
  <package id="SharpCompress" version="0.31.0" targetFramework="net462" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net462" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net462" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net451" />
  <package id="System.Data.OleDb" version="6.0.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net462" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WEF.Standard" version="1.0.3.8" targetFramework="net462" />
  <package id="WEF.Standard.MSSQL" version="1.0.3.8" targetFramework="net462" />
  <package id="WEF.Standard.MySQL" version="1.0.3.8" targetFramework="net462" />
  <package id="WEF.Standard.OLEDB" version="1.0.3.8" targetFramework="net462" />
  <package id="WEF.Standard.Oracle" version="1.0.3.8" targetFramework="net462" />
  <package id="WEF.Standard.Postgre" version="1.0.3.8" targetFramework="net462" />
  <package id="WEF.Standard.SQLite" version="1.0.3.8" targetFramework="net462" />
</packages>